*.log
wp-app/*.php
wp-app/wp-content/advanced-cache.php
wp-app/wp-content/backup-db/
wp-app/wp-content/backups/
wp-app/wp-content/blogs.dir/
wp-app/wp-content/cache/
wp-app/wp-content/upgrade/
wp-app/wp-content/uploads/
wp-app/wp-content/mu-plugins/
wp-app/wp-content/wp-cache-config.php
wp-app/wp-content/plugins/
wp-app/wp-content/index.php
wp-app/wp-admin/
wp-app/wp-includes/

wp-app/.htaccess
wp-app/license.txt
wp-app/readme.html
wp-app/sitemap.xml
wp-app/sitemap.xml.gz

# Node Modules

node_modules/